@media screen and (max-width: 480px) {
    .top_portion{
        background-color:firebrick;
        height: 40px;
        
        
        }
       .top_portion h2{
           color: white;
       margin-left: 1%;
        font-size: 20px;
        margin-top: 5px;
       }
       .top_portion h4{
           color: black;
           margin-top: -8%;
           margin-left: 39%;
           font-size: 15px;
       }
       .intro img{
        width: 100%;
           height: 500px;
           position: relative;
       }
       .centered {
           position: absolute;
           top: 40%;
           left: 50%;
            transform: translate(-10%, -15%); 
           color:white;
           border-left: 2px solid red;
           height: 32%;
           position: vertical;
          
           text-align: center;
         }
         .centered button{
             margin-top: 5%;
             color: white;
             background-color: black;
             box-shadow: 2px 2px 2px firebrick ;
             font-family: fantasy;
             font-size: 20px;
         }
         .left_side {
           position: absolute;
           top: 10%;
           left: 8%;
            transform: translate(-10%, -15%); 
           color:white;
           height: 200px;
           width: 145px;
          
         }
         .marquee{
            margin-left: 3%;
            margin-right: 3%;
            background-color: firebrick;
            color: white;
            height: 30px;
            font-size: 15px;
            
        }
        .eidsale{

            background-color: firebrick;  
           }
           
      .credit button{
        margin-left: 40%;
              }    
              .credit i{
                  margin-left: 50%;
                  color: firebrick;
                  height: 10%;
              }
              .button1{
        color: black;
        font-family: fantasy;
        text-align: center;
        border: 2px solid firebrick;
        border-bottom-left-radius: 15%;
        border-top-right-radius: 15%;
        font-size: 25px;
              }
              #button1{
                color: white;
                font-family: fantasy;
                text-align: center;
                text-shadow: 2px 2px 2px black;
             background-color: firebrick;
               
                font-size: 30px;
              }
              .modal-body img{
                 margin-left: 20%;
        
             }
             .modal-body h4{
        
                 color: firebrick;
                 text-align: center;
                 
                 
             }
           @font-face{
 font-family: eidsale;
 src: url(StarellaTattoo_PERSONAL_USE.ttf);
           }
 .eidsale h1{
     font-family: eidsale;
     float: center;
     
 }
 .eidsale img{
     width: 100%;
 }
 .eidsale h3{
     color: black;
     font-family: fantasy;
 }
 .frames h4{
    margin-top: -50%;
    text-align: center;
    color: white;
    font-family: fantasy;
    font-size: 30px;
}
        .card{
            box-shadow: 2px 2px 2px 2px firebrick;
           margin-left: 6%;
           margin-top: 3%;
                  }

                  .footer{
                    background-color: firebrick
                }
                .footer a{
                    color: black;
                    margin-left: 0%;
                }
                .footer i{
                    color:white;
                }
                .footer h1{
                    color: black;
               margin-left: -20px;
                text-align: center;
            font-size: 20px;}
                .footer img{
                    height: 60px;
                    width: 60px;
                    margin-left: 0%;
                }    

    }