@media screen and (max-width: 480px) {
    .top_portion{
        background-color:firebrick;
        height: 30px;
        
        
        }
        .top_portion h6{
        
            margin-left: 15%;
            color: white;
           margin-top: 1.4%;
        }
        .top_portion i {
        margin-left: 5%;
        }
        .timer h2{
            color: firebrick;
            text-shadow: 2px 2px 2px black;
            text-align: center;
            font-size: 30px;
                  }
                  .timer h1{
            /* color: firebrick;
            border: 3px solid black;
            border-top-right-radius: 20%;
            background-color: gray;
             width: 30%;
            text-align: center;
             margin-left: 31%; 
            font-family: fantasy;
            font-size: 40px;
            margin-top: -5%; */
            color: firebrick;
            width: 20%;
            margin-top:8%;
            /* padding-top: %; */
            margin-bottom: 17%;
            margin-left: 37%;
font-size: 35px;


            
                  }
                  .timer p{
                      color: black;
                      /* margin-top: -15%;
                      margin-left: 29%; */
                      margin-left: 21%;
                     padding-top: 8%;
                     color: blue;
                      font-size: 14px;
                  }
                  .products h1{
                    color: firebrick;text-align: center;
                    text-shadow: 2px 2px 2px black;
                    margin-top: -7%;
                    font-size: 20px;
                }
                  .card img{
                    height: 200px;
                    width: 200px;
                    margin-left: 10%;
                    
                          }
                          .card{
            box-shadow: 2px 2px 2px 2px firebrick;
                         margin-left: 6%;
                         margin-top: 4%;
                              }   
                                  .footer{
                                    background-color: firebrick
                                }
                                .footer a{
                                    color: black;
                                    margin-left: 0%;
                                }
                                .footer i{
                                    color:white;
                                }
                                .footer h1{
                                    color: black;
                               margin-left: -20px;
                                text-align: center;
                            font-size: 20px;}
                                .footer img{
                                    height: 60px;
                                    width: 60px;
                                    margin-left: 0%;
                                }
                              }